.button-group{
  display: flex;
  align-items: center;
  gap: 10px;
}

body {
  background: #16171d;
  color: white;
  margin: 0;
  font-family: sans-serif;

}

#upload-button {
  cursor: pointer;
  color: #fff;
  background-color: #2c2a30;
  border-radius: 10px;
  border: 2px solid rgb(95, 92, 102);
  padding: 10px;
}

button  {
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  background-color: #2c2a30;
  border-radius: 10px;
  border: 2px solid rgb(95, 92, 102);
  padding: 10px;
}
.GL {
  width: 130px;
}
button:hover {
  background-color:#201d30;
  border: 2px solid rgb(91, 79, 119)
}

#upload-button:hover {
  background-color:#201d30;
  border: 2px solid rgb(91, 79, 119)
}

p {
  margin: 0;
}

h3{
  padding-bottom: 10px;
}

.dropdown-item {
  color:#fff;
  text-decoration: none;
  display: none;
  min-width: 120px;
  padding: 13px 16px;
  
}
.DropdownMenuContent {
  z-index: 9999;
  background-color: #2c2a30;
  margin-top: 10px;
  border: 2px solid rgb(95, 92, 102);
  border-radius: 10px;
}

.DropdownMenuItem {
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  padding: 8px;
  box-sizing: border-box;
  width:130px;
}

.DropdownMenuItem:hover {
  background-color: #201d30;
  border-radius: 7px;
}
.nodepopup {
  position: relative;
}
.popupBTN {
  cursor: pointer;
  color: #fff;
  background-color: #2c2a30;
  border-radius: 10px;
  border: 2px solid rgb(95, 92, 102);
  padding: 3px;
  padding-top: 0px;
  font-size: 17px;
  width: 27px;
}
.nodee {
  font-weight: bold;
}